.header{
  height:60px;
}

.header h1{
  color:#02ccba;
  font-size:55px;
  border-bottom:5px solid #c0c0c0;
}

.main p{
  padding-left:30px;
}


.footer{
  height:60px
}


.footer-left h3{
  color:#00ffff;
  border-bottom:5px solid #c0c0c0
}

.footer li{
  list-style:none;
  font-size:30px;
}
