.header h1{
  color:#00ffff;
  font-size:50px;
  border-bottom:5px solid #c0c0c0;
  float:left;
}
.header p{
  float:right;
}

img{
  width:1000px;
  hieght:750px;
}







.footer-left h3{
  color:#00ffff;
  border-bottom:5px solid #c0c0c0
}

.footer li{
  list-style:none;
  font-size:30px;
}
